.followCard-article{
    display: flex;
    align-items: center;
    color: #070707;
    font-size: .8rem;
    justify-content: space-between;
    
}

.card-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.followCard-info{
    display: flex;
    flex-direction: column;
}

.followCard-infoUserName{
    opacity: .6;
}

.followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.followCard-boton{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    background-color: rgb(222, 222, 245);
}

.followCard-boton:hover{
    background-color: rgb(158, 209, 211);
    transition: .3s ease background-color;
}
