*{
    text-align: center;
}
.clsHeaderTitle{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;    
    
}

.clsHeaderTitle h2{
    font-size: 17px;
    color: rgb(70, 122, 122);
}